body{
    background-color: rgb(43, 43, 90);
}

h2{
    color: rgb(23, 23, 66);
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #383c44;
    color: white;
}

ul{
    color: black;
}