ody{
    background-color: rgb(82, 131, 127);
}

h2{
    color: rgb(160, 211, 200);
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #383c44;
    color: white;
}

ul{
    color: black;
}
