body {
    background-color: black;
    color: white;
}
h3 {
    color: darkcyan;
}
h5 {
    color: lightblue;
}
h6 {
    color: lightcyan;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #383c44;
    color: white;
}
