body{
    background-color: rgb(127, 190, 169);
}

h2{
    color: rgb(54, 54, 75);
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5{
    text-decoration: dotted;
    text-decoration-line: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: #383c44;
    color: white;
}